@media (max-width: 580px) {
    body::before {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    body.lock {
        overflow: hidden;
    }
    header {
        margin-right: -40px;
        display: none;
        border-bottom: none;
        height: 100vh;
        overflow: auto;
        .links {
            margin-bottom: 25px;
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            .nav_link {
                margin-top: 66px;
                width: 50%;
                font-size: 34px;
                &:first-child {
                    margin-top: 37px;
                }
            }
        }
    }
    .main_first {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .burger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 34px;
        cursor: pointer;
    }
    .times {
        margin-right: 40px;
        display: block;
        position: absolute;
        right: 0;
        top: 17px;
        z-index: 2;
        font-size: 30px;
        color: #828282;
        cursor: pointer;
    }
    .name {
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }
    .description {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        font-size: 13px;
        line-height: 22px;
    }
    .languages {
        display: none;
        opacity: 0;
    }
    .Dennis {
        height: 478px;
    }
    .man {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .contacts_link {
        width: 370px;
    }
}

@media (max-width: 809px) {
    .program_item {
        width: 40%;
    }
}

@media (max-width: 569px) {
    .program_item {
        width: 70%;
    }
}